@font-face {
    font-family: 'bodoni-svtytwo-itc-tt-book';
    src: url('../fonts/bodoni-svtytwo-itc-tt-book/bodoni-svtytwo-itc-tt-book-593f9abc8b5c0.woff') format('woff'),
         url('../fonts/bodoni-svtytwo-itc-tt-book/bodoni-svtytwo-itc-tt-book-593f9abc8b5c0.eot') format('eot'),
         url('../fonts/bodoni-svtytwo-itc-tt-book/bodoni-svtytwo-itc-tt-book-593f9abc8b5c0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-UI-Display-Bold';
    src: url('../fonts/SFUIDisplay/SF-UI-Display-Bold/SF-UI-Display-Bold.woff') format('woff'),
         url('../fonts/SFUIDisplay/SF-UI-Display-Bold/SF-UI-Display-Bold.eot') format('eot'),
         url('../fonts/SFUIDisplay/SF-UI-Display-Bold/SF-UI-Display-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Heavy';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Heavy/SFUIDisplay-Heavy.woff') format('woff'),
         url('../fonts/SFUIDisplay/SFUIDisplay-Heavy/SFUIDisplay-Heavy.eot') format('eot'),
         url('../fonts/SFUIDisplay/SFUIDisplay-Heavy/SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Light';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Light/SFUIDisplay-Light.woff') format('woff'),
         url('../fonts/SFUIDisplay/SFUIDisplay-Light/SFUIDisplay-Light.eot') format('eot'),
         url('../fonts/SFUIDisplay/SFUIDisplay-Light/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Medium';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Medium/SFUIDisplay-Medium.woff') format('woff'),
         url('../fonts/SFUIDisplay/SFUIDisplay-Medium/SFUIDisplay-Medium.eot') format('eot'),
         url('../fonts/SFUIDisplay/SFUIDisplay-Medium/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUIDisplay-Regular';
    src: url('../fonts/SFUIDisplay/SFUIDisplay-Regular/SFUIDisplay-Regular.woff') format('woff'),
         url('../fonts/SFUIDisplay/SFUIDisplay-Regular/SFUIDisplay-Regular.eot') format('eot'),
         url('../fonts/SFUIDisplay/SFUIDisplay-Regular/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}