/* ======= mixins ========= */
/* ===== instruments ====== */
.qval-form__input-wrap.avatar:before, .qval-form__input-wrap.tel:before, .qval-form__input-wrap.email:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

.footer-soc-link.vk:before, .footer-soc-link.fb:before, .footer-soc-link.vk:hover:before, .footer-soc-link.vk:active:before, .footer-soc-link.vk:focus:before, .footer-soc-link.fb:hover:before, .footer-soc-link.fb:active:before, .footer-soc-link.fb:focus:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: table;
  font-family: 'SFUIDisplay-Regular';
  line-height: normal;
}

.img-container {
  max-width: 100%;
}

.img-responsive {
  max-width: inherit;
  width: 100%;
}

.main {
  height: auto;
  overflow: hidden;
}

.footer {
  height: 1px;
  display: table-row;
}

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

p {
  margin: 0;
}

.fixed-nav-panel {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  margin: 0 !important;
  padding: 10px 0 !important;
}
.fixed-nav-panel .header-nav__container {
  margin: 0 auto;
}

.header-nav__container {
  margin: 0 -15px;
}

/* ======= sections ====== */
.clients {
  padding: 60px 0 170px 0;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__img {
  width: auto;
}

.clients__title {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 70px;
  text-align: center;
}

.feedback {
  background: #3a5997;
  padding: 55px 0 60px 0;
}

.owl-feedback {
  padding: 0 65px;
}

.feedback-title {
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 55px;
  text-align: center;
}

.owl-feedback__item {
  background: #fff;
  padding: 20px 35px 10px 30px;
}

.owl-feedback__item-top {
  display: flex;
  margin-bottom: 30px;
}

.owl-feedback__item-top-left {
  flex: 0 0 160px;
  border-radius: 50%;
  background: #959595;
  overflow: hidden;
  margin-right: 35px;
  height: 160px;
}

.owl-feedback__item-top-right {
  padding-top: 20px;
}

.owl-feedback__item-name {
  font-size: 20px;
  margin-bottom: 20px;
}

.owl-feedback__item-city {
  font-size: 18px;
  margin-bottom: 20px;
}

.owl-feedback__item-prof {
  font-size: 18px;
}

.owl-feedback__item-text {
  font-size: 16px;
  line-height: 16px;
  min-height: 85px;
  margin-bottom: 20px;
}

.owl-feedback__soc-fb {
  font-size: 0;
  text-indent: -99999px;
  display: block;
  background: url('../images/icons-s092f41929d.png') 0 -271px no-repeat;
  width: 36px;
  height: 36px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-feedback__soc-fb:hover, .owl-feedback__soc-fb:active, .owl-feedback__soc-fb:focus {
  font-size: 0;
  text-indent: -99999px;
  display: block;
  background: url('../images/icons-s092f41929d.png') 0 -271px no-repeat;
  width: 36px;
  height: 36px;
}
.owl-feedback__soc-fb:hover {
  opacity: 0.6;
}
.owl-feedback__soc-fb:active {
  opacity: 1;
}

.owl-feedback .owl-prev {
  top: 50%;
  left: -15px;
  position: absolute;
  font-size: 0;
  text-indent: -9999999px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-feedback .owl-prev:hover {
  opacity: 0.6;
}
.owl-feedback .owl-prev:active {
  opacity: 1;
}
.owl-feedback .owl-prev:before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/icons-s092f41929d.png') 0 0 no-repeat;
  width: 15px;
  height: 25px;
}

.owl-feedback .owl-next {
  top: 50%;
  right: -15px;
  position: absolute;
  font-size: 0;
  text-indent: -9999999px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-feedback .owl-next:hover {
  opacity: 0.6;
}
.owl-feedback .owl-next:active {
  opacity: 1;
}
.owl-feedback .owl-next:before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/icons-s092f41929d.png') 0 -95px no-repeat;
  width: 15px;
  height: 25px;
}

.owl-feedback__audio-play {
  display: inline-block;
  background: url('../images/icons-s092f41929d.png') 0 -773px no-repeat;
  width: 21px;
  height: 24px;
  transition: all .3s ease-in-out;
  opacity: 1;
  margin-right: 12px;
  vertical-align: middle;
  position: relative;
  transition: opacity .3s ease-in-out;
}
.owl-feedback__audio-play:hover {
  opacity: 0.6;
}
.owl-feedback__audio-play:active {
  opacity: 1;
}
.owl-feedback__audio-play.playing {
  background: none;
}
.owl-feedback__audio-play.playing:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: url('../images/icons-s092f41929d.png') 0 -655px no-repeat;
  width: 48px;
  height: 48px;
}

.owl-feedback__audio-img-container {
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  height: 55px;
}

.owl-feedback__audio-text {
  font-size: 12px;
  line-height: 14px;
  font-family: 'SFUIDisplay-Light';
  text-align: right;
}

.owl-feedback__item-bot {
  display: flex;
  justify-content: space-between;
}

.footer {
  background: #464646;
}
.footer .container {
  padding: 15px 65px 12px 65px;
  position: relative;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  font-size: 12px;
  color: #fff;
}

.footer-soc-item {
  margin-right: 35px;
  display: inline-block;
  width: 36px;
  height: 36px;
}
.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 0;
  text-indent: -99999px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer-soc-link.vk:before {
  background: url('../images/icons-s092f41929d.png') 0 -867px no-repeat;
  width: 33px;
  height: 34px;
}
.footer-soc-link.fb:before {
  background: url('../images/icons-s092f41929d.png') 0 -377px no-repeat;
  width: 33px;
  height: 34px;
}
.footer-soc-link:hover, .footer-soc-link:active, .footer-soc-link:focus {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 0;
  text-indent: -99999px;
}
.footer-soc-link:hover.vk:before, .footer-soc-link:active.vk:before, .footer-soc-link:focus.vk:before {
  background: url('../images/icons-s092f41929d.png') 0 -867px no-repeat;
  width: 33px;
  height: 34px;
}
.footer-soc-link:hover.fb:before, .footer-soc-link:active.fb:before, .footer-soc-link:focus.fb:before {
  background: url('../images/icons-s092f41929d.png') 0 -377px no-repeat;
  width: 33px;
  height: 34px;
}
.footer-soc-link:hover {
  opacity: 0.6;
}
.footer-soc-link:active {
  opacity: 1;
}

.fotter__work,
.footer__adress,
.footer__email,
.footer__tel {
  margin-bottom: 5px;
}
.fotter__work:last-child,
.footer__adress:last-child,
.footer__email:last-child,
.footer__tel:last-child {
  margin-bottom: 0;
}

.header-in {
  background: url('../images/head-bg.png?1497272723') no-repeat;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 120px;
}

.header-top__logo-container {
  width: 175px;
  min-height: 56px;
  overflow: hidden;
  background: #d8d8d8;
  margin-right: 90px;
  vertical-align: top;
  display: inline-block;
}

.header-top__desc {
  margin-right: 70px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  vertical-align: top;
  text-transform: uppercase;
}

.header-top__logo {
  max-width: 100%;
  height: auto;
}

.header-in-top {
  display: flex;
  margin: -25px -5000px 0 -5000px;
  padding: 15px 5000px 17px 5000px;
  background: #fff;
}

.header-nav {
  background: #e3e3e3;
  margin: 0 -5000px 0 -5000px;
  padding: 10px 5000px 10px 5000px;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
}

.header-nav__link {
  display: inline-block;
  line-height: 40px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-nav__link:hover, .header-nav__link:active, .header-nav__link:focus {
  display: inline-block;
  line-height: 40px;
}
.header-nav__link:hover {
  opacity: 0.6;
}
.header-nav__link:active {
  opacity: 1;
}

.header-nav__item {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'SFUIDisplay-Medium';
  text-transform: uppercase;
}

.header-nav__item-home {
  padding-left: 45px;
}

.header-nav__link-home {
  width: 45px;
  height: 100%;
  line-height: normal;
}
.header-nav__link-home:hover, .header-nav__link-home:active, .header-nav__link-home:focus {
  width: 45px;
  height: 100%;
  line-height: normal;
}

.header-nav__link-callback {
  line-height: normal;
  background: #fed71b;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
}
.header-nav__link-callback:hover, .header-nav__link-callback:active, .header-nav__link-callback:focus {
  line-height: normal;
  background: #fed71b;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
}

.header-top__worktime {
  position: relative;
  padding-left: 50px;
  font-size: 14px;
  vertical-align: top;
  display: inline-block;
}
.header-top__worktime b {
  font-size: 18px;
  font-family: 'SF-UI-Display-Bold';
  line-height: 17px;
}

.header-in-top__left {
  margin-right: 20px;
}

.header-in-top__right {
  margin-left: auto;
  text-align: right;
}

.header-top__tel {
  font-size: 14px;
  margin-bottom: 10px;
}
.header-top__tel p {
  margin-bottom: 3px;
}
.header-top__tel p:last-child {
  margin-bottom: 0;
}
.header-top__tel b {
  font-size: 24px;
  font-family: 'SF-UI-Display-Bold';
}

.header-top__right-btn {
  text-decoration: underline;
  position: relative;
  padding-left: 27px;
  display: inline-block;
  font-size: 14px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-top__right-btn:hover, .header-top__right-btn:active, .header-top__right-btn:focus {
  text-decoration: underline;
  position: relative;
  padding-left: 27px;
  display: inline-block;
  font-size: 14px;
}
.header-top__right-btn:hover {
  opacity: 0.6;
}
.header-top__right-btn:active {
  opacity: 1;
}

.header-in-mid {
  padding-top: 90px;
}

.header-in-mid__desc {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
  letter-spacing: 2.6px;
  background: black;
  padding: 9px 25px;
  text-align: center;
  font-family: 'SF-UI-Display-Bold';
  margin-top: 115px;
}

.header-in-bottom__form {
  border: none;
  width: 100%;
  background: #fff;
  padding: 30px 15px;
}

.header-in-bottom__input {
  width: 100%;
  outline: none;
  border: 1px solid #979797;
  padding: 0 10px;
  font-size: 12px;
  margin-bottom: 15px;
  background: #fff;
  height: 40px;
}
.header-in-bottom__input:last-child {
  margin-bottom: 0;
}

.header-in-bottom__inputs-wrap {
  margin-bottom: 15px;
}

.header-in-bottom__form-desc {
  font-size: 18px;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: 'SF-UI-Display-Bold';
  margin-bottom: 15px;
}

.header-in-bottom__sbm-btn {
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
  background: #dd001b;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  height: 40px;
  font-family: 'SF-UI-Display-Bold';
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-in-bottom__sbm-btn:hover {
  opacity: 0.6;
}
.header-in-bottom__sbm-btn:active {
  opacity: 1;
}

.header-in-bottom__left {
  padding-top: 85px;
}

.header-in-bottom__left-title {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.header-in-bottom__left-title:after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  max-width: 440px;
  background: #fff;
  left: 0;
  bottom: 0;
}

.header-in-bottom__left-desc {
  font-size: 25px;
  line-height: 33px;
  color: #fff;
}

.howworks {
  padding: 65px 0 60px 0;
}

.howworks__item_1 .howworks__item-wrap {
  margin-left: -30px;
}
.howworks__item_1 .howworks__item-img-container {
  padding-left: 20px;
}

.howworks__item_2 .howworks__item-wrap {
  margin-left: -15px;
  margin-right: -15px;
}
.howworks__item_2 .howworks__item-img-container {
  padding-left: 15px;
}

.howworks__item_3 .howworks__item-wrap {
  margin-right: -15px;
}
.howworks__item_3 .howworks__item-img-container {
  padding-left: 22px;
}

.howworks__item-top {
  min-height: 75px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 14px;
}

.howworks__item-img-container {
  margin-bottom: 25px;
  height: 100px;
}

.howworks__item-img {
  width: auto;
}

.howworks__item-bot {
  font-size: 16px;
  line-height: 14px;
}

.howworks__que-btn {
  max-width: 390px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
  background: #fff200;
  text-align: center;
  font-size: 16px;
  box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.howworks__que-btn:hover, .howworks__que-btn:active, .howworks__que-btn:focus {
  max-width: 390px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
  background: #fff200;
  text-align: center;
  font-size: 16px;
  box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.howworks__que-btn:hover {
  opacity: 0.6;
}
.howworks__que-btn:active {
  opacity: 1;
}

.howworks-content {
  margin-bottom: 85px;
}

.howworks__right {
  margin-right: -30px;
}

.howworks__right-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 40px;
}

.howworks__video-container {
  border: 1px solid #ffcc33;
  padding: 15px;
}

.main-article {
  padding: 35px 0 35px 0;
}
.main-article .container {
  padding-right: 140px;
}

.main-article__title {
  font-size: 30px;
  font-family: 'SFUIDisplay-Medium';
  margin-bottom: 15px;
}

.main-article__desc {
  font-size: 16px;
  line-height: 22px;
  font-family: 'SFUIDisplay-Light';
}

.modal-request__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.modal-request__dialog {
  position: relative;
  pointer-events: auto;
  width: 438px;
  max-width: 90%;
}

.modal-request__container {
  background: rgba(149, 149, 149, 0.8);
  padding: 40px 20px 20px 20px;
  border-radius: 15px;
  border: 1px solid #ffcc33;
}

.modal-request__desc {
  font-size: 10px;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
  line-height: 10px;
}

.modal-request__title {
  color: #fff;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
}

.modal-request__title1 {
  margin-bottom: 15px;
}

.modal-request__title2 {
  margin-bottom: 35px;
  text-transform: uppercase;
}

.prices {
  padding: 60px 0 50px;
  background: url('../images/prices-bg.png?1499767969') no-repeat;
  background-size: cover;
}

.prices-title {
  color: #ffcc33;
  font-size: 35px;
  text-align: center;
  margin-bottom: 45px;
  text-transform: uppercase;
}

.prices-table-title {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  max-width: 555px;
}

.prices-table-desc {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  font-family: 'SF-UI-Display-Bold';
  text-transform: uppercase;
}

.prices-table {
  color: #fff;
  width: 100%;
  margin-bottom: 60px;
}
.prices-table thead {
  font-size: 20px;
  font-family: 'SF-UI-Display-Bold';
  text-transform: uppercase;
}
.prices-table thead th {
  padding-bottom: 5px;
}
.prices-table tbody tr {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.prices-table tbody .price-table__border-row {
  border-top: 2px solid #fff;
}
.prices-table tbody td {
  padding: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.prices-table tbody .price-table__padding-td {
  vertical-align: top;
  padding-top: 25px;
}

.prices-block__top {
  margin-bottom: 35px;
}

.prices__download-btn {
  width: 100%;
  display: block;
  max-width: 275px;
  background-color: #fff200;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.prices__download-btn:hover, .prices__download-btn:active, .prices__download-btn:focus {
  width: 100%;
  display: block;
  max-width: 275px;
  background-color: #fff200;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.prices__download-btn:hover {
  opacity: 0.6;
}
.prices__download-btn:active {
  opacity: 1;
}

.qval {
  background: url('../images/qval-bg.png?1497275929') 50% 50% no-repeat;
  background-size: contain;
}
.qval .container {
  padding: 85px 65px 80px 65px;
  position: relative;
}

.qval__list {
  padding-right: 488px;
}

.qval__item {
  display: flex;
  margin-bottom: 55px;
}
.qval__item:last-child {
  margin-bottom: 0;
}

.qval__item-left {
  flex: 0 0 112px;
  margin-right: 15px;
}

.qval__item-img {
  width: auto;
}

.qval__item-title {
  margin-top: -6px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}

.qval__item-desc {
  font-size: 16px;
  line-height: 18px;
}

.qval-form-wrap {
  width: 438px;
  position: absolute;
  bottom: 70px;
  right: 65px;
}

.qval-form-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 13px;
}

.qval-form {
  width: 438px;
  background: rgba(149, 149, 149, 0.5);
  border-radius: 10px;
  padding: 20px 22px 20px 22px;
}

.qval-form__desc {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 14px;
}

.qval-form__input-wrap {
  position: relative;
  margin-bottom: 20px;
  max-width: 322px;
  margin: 0 auto 20px auto;
}
.qval-form__input-wrap.avatar:before {
  left: 15px;
  background: url('../images/icons-s092f41929d.png') 0 -481px no-repeat;
  width: 15px;
  height: 17px;
}
.qval-form__input-wrap.tel:before {
  left: 17px;
  background: url('../images/icons-s092f41929d.png') 0 -568px no-repeat;
  width: 11px;
  height: 17px;
}
.qval-form__input-wrap.email:before {
  left: 14px;
  background: url('../images/icons-s092f41929d.png') 0 -190px no-repeat;
  width: 18px;
  height: 11px;
}

.qval-form__input {
  max-width: 322px;
  outline: none;
  border-radius: 15px;
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 35px;
  border: 1px solid black;
  box-shadow: inset 0px 0px 7.76px 0.24px rgba(0, 0, 0, 0.55);
  background-color: rgba(255, 255, 255, 0.302);
  padding: 0 15px 0 40px;
  font-size: 14px;
}

.qval-form__sbm {
  outline: none;
  border: none;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  background-color: #fff200;
  box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.qval-form__sbm:hover, .qval-form__sbm:active, .qval-form__sbm:focus {
  outline: none;
  border: none;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 16px;
  background-color: #fff200;
  box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.qval-form__sbm:hover {
  opacity: 0.6;
}
.qval-form__sbm:active {
  opacity: 1;
}

.sertification {
  background: url('../images/gost-bg.png?1497275889') no-repeat;
  background-size: cover;
  padding: 55px 0 55px 0;
}
.sertification .container {
  padding: 0 65px;
}

.sertification__title {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 55px;
  text-align: center;
}

.sertification__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.sertification__item {
  width: 222px;
}

.sertification__cols {
  display: flex;
  justify-content: space-between;
}

.sertification__col {
  width: 390px;
}

.sertification__col-title {
  font-size: 35px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 60px;
  color: #fff;
}

.sertification__col-desc {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.stepprice {
  background: url('../images/price-bg.png?1497274922') no-repeat;
  background-size: cover;
  padding: 55px 0;
}

.steps-tab {
  display: none;
}
.steps-tab.active {
  display: block;
}

.stepprice-wrap {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  min-height: 590px;
  border: 2px solid #ffcc33;
  border-top: none;
  padding: 65px 110px 45px 110px;
}
.stepprice-wrap:before, .stepprice-wrap:after {
  display: block;
  position: absolute;
  content: "";
  width: 86px;
  height: 2px;
  background: #ffcc33;
  top: 0;
}
.stepprice-wrap:before {
  left: 0;
}
.stepprice-wrap:after {
  right: 0;
}

.stepprice-title {
  width: 770px;
  top: -27px;
  margin: 0 auto;
  text-align: center;
  height: 56px;
  line-height: 52px;
  border-top: 2px solid #ffcc33;
  border-bottom: 2px solid #ffcc33;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}
.stepprice-title:before, .stepprice-title:after {
  position: absolute;
  display: block;
  content: "";
  top: 6px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffcc33;
  border-top: none;
  border-right: none;
}
.stepprice-title:before {
  right: -20px;
  transform: rotate(-135deg);
}
.stepprice-title:after {
  left: -20px;
  transform: rotate(45deg);
}

.stepprice-step__number {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.stepprice-step__top {
  padding: 0 15px;
}

.stepprice-step__bar-wrap {
  border-radius: 5px;
  height: 11px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.stepprice-step__bar {
  height: 100%;
  left: 0;
  background: #ffcc33;
}

.stepprice-step__title {
  font-size: 30px;
  color: #fff;
}

.stepprice-step1__list {
  padding-top: 10px;
  margin-right: -95px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.stepprice-step1__item {
  width: 195px;
  margin-right: 95px;
}

.stepprice-step1__img-container {
  height: 120px;
  text-align: center;
  line-height: 120px;
}

.stepprice-step1__img {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 20px;
}

.stepprice-step1__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border: 2px solid #ffcc33;
  color: #fff;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.stepprice-step1__link:hover, .stepprice-step1__link:active, .stepprice-step1__link:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border: 2px solid #ffcc33;
  color: #fff;
  font-size: 20px;
  line-height: 14px;
  text-align: center;
}
.stepprice-step1__link:hover {
  opacity: 0.6;
}
.stepprice-step1__link:active {
  opacity: 1;
}

.stepprice-bottom {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.stepprice-bottom__title {
  font-size: 70px;
  color: #84827d;
  opacity: 0.3;
  padding-bottom: 65px;
  text-transform: uppercase;
  font-family: 'SF-UI-Display-Bold';
}

.stepprice-bottom__list {
  position: absolute;
  opacity: 0.4;
  bottom: -5px;
  right: 10px;
}

.stepprice-bottom__item {
  display: inline-block;
  margin-right: 40px;
}
.stepprice-bottom__item:last-child {
  margin-right: 0;
}

.stepprice-bottom__img-container {
  margin-bottom: 15px;
}

.stepprice-bottom__text {
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.stepprice-step2__list {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.stepprice-step2__item {
  width: 166px;
}

.stepprice-label {
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}

.stepprice-radio {
  display: none;
}

.stepprice-radio:checked + .stepprice-radio-text:before {
  background: #ebbd31;
}

.stepprice-radio-text {
  font-size: 30px;
  color: #fff;
  width: 143px;
  padding-left: 40px;
  position: relative;
  display: inline-block;
}
.stepprice-radio-text:before {
  position: absolute;
  content: "";
  display: block;
  top: 13px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ebbd31;
  background: none;
}

.stepprice-radio-text-m2 {
  font-size: 20px;
  color: #fff;
}

.stepprice-input-wrap {
  margin-bottom: 140px;
}

.stepprice-input {
  width: 150px;
  height: 30px;
  color: #fff;
  padding: 0 6px;
  font-size: 14px;
  outline: none;
  border: none;
  background: rgba(153, 153, 153, 0.3);
}
.stepprice-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.stepprice-input-metr-wrap {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  padding-top: 5px;
  width: 200px;
}
.stepprice-input-metr-wrap.focused:before {
  background: #ebbd31;
}
.stepprice-input-metr-wrap:before {
  position: absolute;
  content: "";
  display: block;
  top: 13px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ebbd31;
  background: none;
}

.stepprice-inputs-colleft {
  display: inline-block;
  width: 48%;
  padding: 40px 90px 0 90px;
  vertical-align: top;
}

.stepprice-inputs-colright {
  display: inline-block;
  width: 48%;
  padding: 40px 50px 0 90px;
  vertical-align: top;
}
.stepprice-inputs-colright .stepprice-radio-text {
  width: 200px;
}

.stepprice-step3__btn {
  display: block;
  width: 192px;
  margin: 0 auto;
  height: 60px;
  border: 2px solid #ffcc33;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 56px;
  position: relative;
  z-index: 1;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.stepprice-step3__btn:hover, .stepprice-step3__btn:active, .stepprice-step3__btn:focus {
  display: block;
  width: 192px;
  margin: 0 auto;
  height: 60px;
  border: 2px solid #ffcc33;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 56px;
  position: relative;
  z-index: 1;
}
.stepprice-step3__btn:hover {
  opacity: 0.6;
}
.stepprice-step3__btn:active {
  opacity: 1;
}

.stepprice-step4__item {
  width: 195px;
}

.stepprice-step4__list {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.stepprice-step4__img-container {
  height: 170px;
  text-align: center;
  line-height: 170px;
}

.stepprice-step4__img {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 55px;
}

.works {
  background: url('../images/works-bg.png?1497273463') no-repeat;
  background-size: cover;
  padding: 25px 0 60px 0;
}

.works__item {
  margin-bottom: 25px;
}
.works__item:last-child .works__item-inner {
  margin-right: -3px;
  background: rgba(141, 198, 63, 0.5);
  margin-left: 5px;
  padding-left: 5px;
  border-radius: 5px;
  padding-top: 5px;
  margin-top: -5px;
  padding-bottom: 7px;
  padding-right: 3px;
}
.works__item:last-child .works__item-title {
  margin-right: -3px;
}

.works__item-inner {
  margin-right: -15px;
}

.works__item-title {
  min-height: 55px;
  font-size: 20px;
  line-height: 22px;
  border-bottom: 1px solid #ffcc33;
  margin-bottom: 20px;
}

.works__item-desc {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.works__title {
  width: 780px;
  margin: 0 auto;
  text-align: center;
  height: 56px;
  line-height: 52px;
  border-top: 2px solid #ffcc33;
  border-bottom: 2px solid #ffcc33;
  position: relative;
  font-size: 35px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}
.works__title:before, .works__title:after {
  position: absolute;
  display: block;
  content: "";
  top: 6px;
  width: 40px;
  height: 40px;
  border: 2px solid #ffcc33;
  border-top: none;
  border-right: none;
}
.works__title:before {
  right: -20px;
  transform: rotate(-135deg);
}
.works__title:after {
  left: -20px;
  transform: rotate(45deg);
}

.works__ia-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px solid #ffff00;
  border-left: none;
}

.works__ia-container figure {
  border-left: 2px solid #ffff00;
  position: absolute;
  top: 0;
  left: 180px;
  width: 595px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in-out;
}

.works__ia-container > figure {
  position: relative;
  left: 0 !important;
}

.works__ia-container img {
  display: block;
  width: 100%;
}

.works__ia-container input {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  cursor: pointer;
  border: 0;
  padding: 0;
  opacity: 0;
  z-index: 100;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.works__ia-container input:checked {
  width: 5px;
  left: auto;
  right: 0px;
}

.works__ia-container input:checked ~ figure {
  left: 595px;
  transition: all 0.7s ease-in-out;
}

.works__ia-container input:checked ~ figure input {
  z-index: 1;
}

figure {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.works__ia-text {
  background: rgba(0, 0, 0, 0.5);
  width: 180px;
  min-height: 175px;
  padding: 10px 0 10px 10px;
  position: absolute;
}

.works__ia-text-title {
  color: #fff;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 5px;
  min-height: 45px;
}

.works__ia-text-desc {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.works__ia-prev {
  z-index: 101;
  top: 50%;
  left: -20px;
  position: absolute;
  font-size: 0;
  text-indent: -9999999px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.works__ia-prev:hover {
  opacity: 0.6;
}
.works__ia-prev:active {
  opacity: 1;
}
.works__ia-prev:before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/icons-s092f41929d.png') 0 0 no-repeat;
  width: 15px;
  height: 25px;
}

.works__ia-next {
  z-index: 101;
  top: 50%;
  right: -20px;
  position: absolute;
  font-size: 0;
  text-indent: -9999999px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.works__ia-next:hover {
  opacity: 0.6;
}
.works__ia-next:active {
  opacity: 1;
}
.works__ia-next:before {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/icons-s092f41929d.png') 0 -95px no-repeat;
  width: 15px;
  height: 25px;
}

.works__ia-wrap {
  position: relative;
}

.wsloy {
  padding: 50px 0 55px 0;
}

.wsloy__title {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.wsloy-row {
  display: flex;
  margin-bottom: 60px;
}
.wsloy-row:before, .wsloy-row:after {
  display: none;
}

.wsloy__item {
  position: relative;
  padding: 0 40px 100px 20px;
  height: 100%;
}
.wsloy__item:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 79px;
  height: 80px;
  background: url('../images/good-smile.png?1499761275') no-repeat;
}

.wsloy__item_bad {
  border: 2px solid #ff9999;
  padding: 2px 42px 102px 22px;
}
.wsloy__item_bad:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 79px;
  height: 80px;
  background: url('../images/bad-smile.png?1499761270') no-repeat;
}

.wsloy__item_good {
  border: 4px solid #99dbb9;
}

.wsloy__img-container {
  display: flex;
  height: 215px;
  margin-bottom: 25px;
  align-items: center;
  overflow: hidden;
}

.wsloy__img {
  max-width: 100%;
}

.wsloy__item-title {
  padding-left: 30px;
  font-size: 22px;
  line-height: 28px;
  font-family: 'SF-UI-Display-Bold';
  margin-bottom: 25px;
  text-transform: uppercase;
}

.wsloy__bad-item {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 30px;
  margin-bottom: 25px;
}
.wsloy__bad-item:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e42f39;
}

.wsloy__good-item {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 30px;
  margin-bottom: 25px;
}
.wsloy__good-item:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00a651;
}

.wsloy__bad-list,
.wsloy__good-list {
  margin-bottom: 50px;
}

.wsloy__consult-btn {
  border-radius: 3px;
  background-color: #fff200;
  box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  max-width: 100%;
  width: 390px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.wsloy__consult-btn:hover, .wsloy__consult-btn:active, .wsloy__consult-btn:focus {
  border-radius: 3px;
  background-color: #fff200;
  box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
  max-width: 100%;
  width: 390px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.wsloy__consult-btn:hover {
  opacity: 0.6;
}
.wsloy__consult-btn:active {
  opacity: 1;
}

/* xs+sm+md */
@media screen and (max-width: 1199px) {
  .header-top__logo-container,
  .header-top__desc {
    margin-right: 35px;
  }

  .header-in-mid__desc {
    font-size: 30px;
  }

  .works__ia-container figure {
    width: 390px;
  }

  .works__ia-container input:checked ~ figure {
    left: 390px;
  }

  .stepprice-wrap:before, .stepprice-wrap:after {
    width: 56px;
  }

  .qval-form-wrap {
    bottom: 110px;
  }

  .wsloy__item-title {
    font-size: 19px;
  }

  .stepprice-inputs-colleft {
    padding: 40px 80px 0 80px;
  }

  .stepprice-inputs-colright {
    padding: 40px 0 0 80px;
  }

  .prices-table-title {
    max-width: 460px;
  }
}
/* xs+sm */
@media screen and (max-width: 991px) {
  body {
    table-layout: fixed;
  }

  .header-in-top {
    padding: 10px 5000px;
  }

  .header-top__menu-xs {
    display: inline-block;
    margin-top: 6px;
  }

  .menu-xs__btn {
    display: inline-block;
    padding: 11px 0;
    width: 45px;
    transition: all .3s ease-in-out;
    opacity: 1;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
  }
  .menu-xs__btn:hover {
    opacity: 0.6;
  }
  .menu-xs__btn:active {
    opacity: 1;
  }
  .menu-xs__btn .icon-bar {
    transition: all 500ms ease-in-out;
    position: relative;
    background-color: #B5B5B5;
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
  }
  .menu-xs__btn .icon-bar:last-child {
    margin-bottom: 0;
  }

  .menu-xs__close {
    position: absolute;
    right: 0;
    top: 20px;
    display: block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    opacity: 1;
  }
  .menu-xs__close:hover {
    opacity: 0.6;
  }
  .menu-xs__close:active {
    opacity: 1;
  }

  .menu-xs__close::before,
  .menu-xs__close::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -2px;
    background: #000;
  }

  .menu-xs__close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .menu-xs__close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu-xs__dropdown-wrap {
    overflow-y: auto;
    max-height: 100%;
    margin-bottom: 20px;
    position: relative;
    padding-top: 20px;
  }

  .menu-xs__item {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .menu-xs__item:last-child {
    margin-bottom: 0;
  }

  .menu-xs__link {
    transition: all .3s ease-in-out;
    opacity: 1;
  }
  .menu-xs__link:hover {
    opacity: 0.6;
  }
  .menu-xs__link:active {
    opacity: 1;
  }

  .header-top__worktime {
    padding-left: 0;
    margin-bottom: 30px;
  }

  .menu-xs__dropdown-menu {
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
    border: none;
  }
  .menu-xs__dropdown-menu .container {
    position: relative;
    height: 100%;
  }

  .main-article .container {
    padding-right: 15px;
  }

  .works__title {
    width: 680px;
  }

  .works__item-inner {
    margin-right: 0;
  }

  .works__ia-container input:checked ~ figure {
    left: 260px;
  }

  .works__ia-container figure {
    width: 260px;
    left: 150px;
  }

  .works__ia-text {
    width: 150px;
  }

  .works__ia-container input {
    width: 150px;
  }

  .works__ia-text-title {
    font-size: 16px;
  }

  .works__ia-text-desc {
    font-size: 12px;
  }

  .wsloy__item-title {
    font-size: 14px;
    margin-right: -15px;
    padding-left: 20px;
    margin-bottom: 15px;
  }

  .wsloy__good-item {
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: -20px;
    word-break: break-word;
  }

  .wsloy__good-item:before {
    width: 8px;
    height: 8px;
  }

  .wsloy__bad-item:before {
    width: 8px;
    height: 8px;
  }

  .wsloy__img-container {
    height: 155px;
  }

  .wsloy__bad-item {
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: -20px;
    word-break: break-word;
  }

  .stepprice-title {
    width: 630px;
    font-size: 25px;
  }

  .stepprice-inputs-colleft {
    padding: 40px 40px 0 40px;
  }

  .stepprice-inputs-colright {
    padding: 40px 0 0 20px;
  }

  .stepprice-wrap:before, .stepprice-wrap:after {
    width: 17px;
  }

  .stepprice-wrap {
    padding: 65px 60px 45px 60px;
  }

  .stepprice-step2__list {
    justify-content: space-around;
  }

  .stepprice-step4__item {
    width: 175px;
  }

  .howworks-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
  }
  .howworks-content:before, .howworks-content:after {
    display: none;
  }

  .howworks-content__left {
    order: 2;
  }

  .howworks-content__right {
    order: 1;
    margin: auto;
  }

  .howworks__right {
    margin-right: 0;
  }

  .howworks__right-title {
    margin-bottom: 15px;
  }

  .howworks__video-container {
    margin-bottom: 25px;
  }
  .howworks__video-container iframe {
    width: 515px;
    height: 335px;
  }

  .howworks__item_1 .howworks__item-wrap {
    margin-left: 0;
  }

  .howworks__item_2 .howworks__item-wrap {
    margin-left: 0;
    margin-right: 0;
  }

  .howworks__item_3 .howworks__item-wrap {
    margin-right: 0;
  }

  .howworks__item_1 .howworks__item-img-container {
    padding-left: 0;
  }

  .howworks__item_2 .howworks__item-img-container {
    padding-left: 0;
  }

  .howworks__item_3 .howworks__item-img-container {
    padding-left: 0;
  }

  .howworks__item-img {
    margin: 0 auto;
  }

  .sertification__col-title {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .sertification__col {
    width: 50%;
  }
  .sertification__col:first-child {
    margin-right: 30px;
  }

  .sertification__col-desc {
    font-size: 14px;
  }

  .sertification {
    background-position: 50% 50%;
    background-size: cover;
  }

  .sertification .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .qval .container {
    padding: 25px 15px 25px 15px;
  }

  .qval__list {
    padding-right: 0;
    margin-bottom: 30px;
  }

  .qval-form-wrap {
    position: relative;
    bottom: initial;
    margin: 0 auto;
    right: initial;
  }

  .qval {
    background-position: 100% 50%;
    background-size: cover;
  }
}
/* xs */
@media screen and (max-width: 767px) {
  .header-in-top {
    padding-top: 30px;
  }

  .header-top__tel {
    margin-bottom: 30px;
  }

  .header-in-mid__desc {
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .header-in-mid {
    padding-top: 50px;
  }

  .header-in {
    padding-top: 5px;
    padding-bottom: 40px;
  }

  .header-in-top__left {
    margin-right: 0;
  }

  .wsloy-row {
    flex-wrap: wrap;
  }

  .wsloy__consult-btn {
    overflow: hidden;
  }
  .wsloy__consult-btn:hover, .wsloy__consult-btn:active, .wsloy__consult-btn:focus {
    overflow: hidden;
  }

  .wsloy__item {
    height: auto;
    margin-bottom: 25px;
  }

  .main-article__title {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
  }

  .main-article__desc {
    font-size: 12px;
    line-height: 14px;
  }

  .works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0;
    margin-bottom: 10px;
  }
  .works__list:before, .works__list:after {
    display: none;
  }

  .works__item {
    margin-bottom: 20px;
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  .works__item-title {
    font-size: 14px;
    line-height: 14px;
    min-height: 35px;
    margin-bottom: 5px;
    border-bottom: none;
    font-family: 'SF-UI-Display-Bold';
  }

  .works__item-desc {
    font-size: 10px;
    line-height: 12px;
  }

  .works__item:last-child .works__item-title {
    margin-right: 0;
  }

  .works__item:last-child .works__item-inner {
    margin-right: 0;
    padding-right: 5px;
    margin-left: -5px;
    padding-left: 5px;
  }

  .works__title {
    max-width: 90%;
    margin-bottom: 20px;
    height: 30px;
    line-height: 26px;
    font-size: 20px;
  }

  .works__title:before, .works__title:after {
    width: 22px;
    height: 22px;
    top: 2px;
  }

  .works__title:before {
    right: -11px;
  }

  .works__title:after {
    left: -11px;
  }

  .works__xs-slider {
    width: 289px;
    height: 289px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .xs-slider-block {
    height: 144px;
    width: 144px;
    border: 2px solid #ffcc33;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }

  .works__xs-slider-block-1 {
    position: absolute;
    top: 0;
    left: 0;
  }

  .works__xs-slider-block-2 {
    position: absolute;
    top: 0;
    right: 0;
  }

  .works__xs-slider-block-3 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .works__xs-slider-block-4 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .works__xs-slider-block-1.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    cursor: default;
    z-index: 10;
  }

  .works__xs-slider-block-2.active {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 95%;
    height: 95%;
    cursor: default;
    z-index: 10;
  }

  .works__xs-slider-block-3.active {
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 95%;
    height: 95%;
    cursor: default;
    z-index: 10;
  }

  .works__xs-slider-block-4.active {
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 95%;
    height: 95%;
    cursor: default;
    z-index: 10;
  }

  .works__xs-slider-text {
    width: 144px;
    min-height: 144px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
  }

  .works__xs-slider-title {
    font-size: 13px;
    line-height: 14px;
    min-height: 35px;
    color: #fff;
    margin-bottom: 5px;
  }

  .works__xs-slider-desc {
    font-size: 9px;
    line-height: 12px;
    color: #fff;
  }

  .works {
    padding-bottom: 40px;
  }

  .wsloy__title {
    font-size: 14px;
    line-height: 18px;
  }

  .wsloy__suptitle {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .wsloy__inner-title {
    font-size: 14px;
    line-height: 18px;
  }

  .wsloy__inner-desc {
    font-size: 10px;
    line-height: 12px;
  }

  .wsloy__inner-item {
    margin-bottom: 15px;
  }

  .wsloy__img-container_left {
    margin-left: 0;
    padding: 0 0 0 0;
  }

  .wsloy__img {
    width: auto;
    margin: 0 auto;
  }

  .wsloy__img-container {
    margin-bottom: 5px;
    height: 190px;
  }

  .wsloy__img-container_right {
    padding: 15px;
  }

  .wsloy__list {
    margin-bottom: 35px;
  }

  .wsloy__consult-btn {
    margin-right: auto;
    margin-left: auto;
    max-width: 220px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
  .wsloy__consult-btn:hover, .wsloy__consult-btn:active, .wsloy__consult-btn:focus {
    margin-right: auto;
    margin-left: auto;
    max-width: 220px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }

  .wsloy {
    padding-bottom: 35px;
  }

  .stepprice-title {
    width: 86%;
    font-size: 20px;
    display: flex;
    align-items: center;
    line-height: normal;
  }

  .stepprice-wrap:before, .stepprice-wrap:after {
    width: 13px;
  }

  .stepprice-wrap {
    padding: 35px 15px 25px 15px;
    min-height: 450px;
    margin: 0 -9px;
  }

  .stepprice-step__title {
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
  }

  .stepprice-step__number {
    font-size: 14px;
    margin-bottom: 15px;
    padding: 0 10px;
  }

  .stepprice-step1__img {
    max-width: 110%;
    padding-bottom: 10px;
  }

  .stepprice-step__bar-wrap {
    height: 8px;
  }

  .stepprice-bottom__title {
    padding-bottom: 55px;
    font-size: 30px;
  }

  .stepprice-step__top {
    padding: 0;
  }

  .stepprice-bottom__item {
    margin-right: 25px;
  }

  .stepprice-bottom__img {
    max-width: 55px;
  }

  .stepprice-bottom__text {
    font-size: 10px;
  }

  .stepprice-bottom {
    width: 100%;
    right: initial;
    left: 30px;
    bottom: 0;
  }

  .stepprice-bottom__list {
    bottom: 5px;
    right: initial;
    left: 0;
    padding-left: 15px;
  }

  .stepprice-bottom__img-container {
    margin-bottom: 5px;
  }

  .stepprice-step1__list {
    margin-right: -35px;
    padding-top: 20px;
  }

  .stepprice-step1__item {
    width: 65px;
    margin-right: 35px;
    margin-bottom: 20px;
  }

  .stepprice-step1__link {
    height: 30px;
    font-size: 12px;
    line-height: 12px;
  }
  .stepprice-step1__link:hover, .stepprice-step1__link:active, .stepprice-step1__link:focus {
    height: 30px;
    font-size: 12px;
    line-height: 12px;
  }

  .stepprice-step1__img-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 70px;
  }

  .stepprice-step1__item:last-child {
    width: 95px;
  }
  .stepprice-step1__item:nth-last-child(3) {
    width: 95px;
    margin-right: 35px;
  }
  .stepprice-step1__item:nth-last-child(3) .stepprice-step1__link {
    font-size: 8px;
  }
  .stepprice-step1__item:nth-last-child(3) .stepprice-step1__link:hover, .stepprice-step1__item:nth-last-child(3) .stepprice-step1__link:active, .stepprice-step1__item:nth-last-child(3) .stepprice-step1__link:focus {
    font-size: 8px;
  }

  .stepprice-step2 {
    margin-right: -10px;
    margin-left: -10px;
  }

  .stepprice-step2__item {
    width: 21%;
    margin-bottom: 10px;
  }
  .stepprice-step2__item .stepprice-step1__img-container {
    height: 80px;
  }
  .stepprice-step2__item .stepprice-step1__img {
    max-width: inherit;
    padding-bottom: 10px;
  }
  .stepprice-step2__item .stepprice-step1__link {
    font-size: 10px;
  }
  .stepprice-step2__item .stepprice-step1__link:hover, .stepprice-step2__item .stepprice-step1__link:active, .stepprice-step2__item .stepprice-step1__link:focus {
    font-size: 10px;
  }
  .stepprice-step2__item .stepprice-step1__link_font-size {
    font-size: 8px;
  }
  .stepprice-step2__item .stepprice-step1__link_font-size:hover, .stepprice-step2__item .stepprice-step1__link_font-size:active, .stepprice-step2__item .stepprice-step1__link_font-size:focus {
    font-size: 8px;
  }

  .stepprice-step2__list {
    padding-top: 0;
  }

  .stepprice-step3 .stepprice-step__title {
    text-align: center;
  }

  .stepprice-input {
    width: 75px;
    height: 20px;
    font-size: 11px;
  }

  .stepprice-input-metr-wrap:before {
    width: 10px;
    height: 10px;
    top: 3px;
  }

  .stepprice-input__hold {
    font-size: 15px;
  }

  .stepprice-input-wrap {
    margin-bottom: 30px;
  }
  .stepprice-input-wrap:before {
    display: none;
  }

  .stepprice-step3__btn {
    width: 90px;
    height: 30px;
    line-height: 26px;
    font-size: 14px;
  }
  .stepprice-step3__btn:hover, .stepprice-step3__btn:active, .stepprice-step3__btn:focus {
    width: 90px;
    height: 30px;
    line-height: 26px;
    font-size: 14px;
  }

  .stepprice-step4__list {
    margin-right: -10px;
    margin-left: -10px;
    padding-top: 30px;
  }

  .stepprice-step4__item {
    width: 90px;
  }
  .stepprice-step4__item:first-child .stepprice-step4__img {
    max-width: 60%;
  }
  .stepprice-step4__item .stepprice-step1__link {
    font-size: 10px;
  }

  .stepprice-inputs-colleft {
    padding: 40px 20px 0 0px;
  }

  .stepprice-radio-text {
    font-size: 14px;
    line-height: 16px;
    width: 75px;
    padding-left: 25px;
  }
  .stepprice-radio-text:before {
    top: 4px;
    width: 10px;
    height: 10px;
  }

  .stepprice-input-metr-wrap {
    width: 100px;
    padding-left: 20px;
    padding-top: 0;
  }

  .stepprice-inputs-colright {
    padding: 40px 0 0 0;
  }

  .stepprice-inputs-colright .stepprice-radio-text {
    width: 100px;
  }

  .stepprice-step4__img {
    max-width: 90%;
  }

  .stepprice-radio-text-m2 {
    font-size: 12px;
  }

  .howworks__right-title {
    font-size: 14px;
  }

  .howworks__video-container iframe {
    width: 266px;
    height: 150px;
  }

  .howworks__item_1 .howworks__item-img-container,
  .howworks__item_2 .howworks__item-img-container,
  .howworks__item_3 .howworks__item-img-container {
    line-height: 60px;
    height: 60px;
    text-align: center;
  }

  .howworks__item-img {
    max-width: 55px;
    display: inline-block;
    vertical-align: bottom;
  }

  .howworks__item-top {
    font-size: 10px;
    margin-bottom: 15px;
    line-height: 12px;
    min-height: 75px;
  }

  .howworks__item-bot {
    font-size: 10px;
    line-height: 12px;
  }

  .howworks__que-btn {
    max-width: 220px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .howworks__que-btn:hover, .howworks__que-btn:active, .howworks__que-btn:focus {
    max-width: 220px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }

  .howworks__video-container {
    padding: 10px;
  }

  .howworks-content {
    margin-bottom: 25px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .howworks {
    padding-bottom: 25px;
  }

  .feedback {
    padding: 30px 0;
  }

  .feedback-title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .owl-feedback__item-top-left {
    flex: 0 0 100px;
    height: 100px;
  }

  .owl-feedback__item {
    padding: 15px 20px 10px 20px;
  }

  .owl-feedback {
    padding: 0;
  }

  .owl-feedback__item-top-right {
    padding-top: 0;
  }

  .owl-feedback__item-text {
    font-size: 8px;
    line-height: 8px;
    padding: 0px 15px;
    min-height: 35px;
    margin-bottom: 7px;
  }

  .owl-feedback__item-top {
    margin-bottom: 10px;
  }

  .owl-feedback__soc-fb {
    transform: scale(0.65);
    margin-left: -4px;
  }
  .owl-feedback__soc-fb:hover, .owl-feedback__soc-fb:active, .owl-feedback__soc-fb:focus {
    transform: scale(0.65);
    margin-left: -4px;
  }

  .owl-feedback__item-bot {
    padding: 0 15px;
  }

  .owl-feedback__audio-img-container {
    width: 85px;
    height: 35px;
  }

  .owl-feedback__item-name {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 11px;
  }

  .owl-feedback__item-prof {
    font-size: 12px;
    line-height: 11px;
  }

  .owl-feedback__item-city {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 11px;
  }

  .owl-feedback__audio-play {
    transform: scale(0.7);
    margin-right: 2px;
  }

  .owl-feedback__audio-text {
    font-size: 8px;
    line-height: 9px;
  }

  .owl-feedback .owl-prev,
  .owl-feedback .owl-next {
    transform: scale(0.63) translateY(-50%);
  }

  .clients {
    padding: 25px 0 45px 0;
  }

  .clients__title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .sertification {
    padding: 25px 0;
  }

  .sertification__title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .sertification__list {
    margin-bottom: 25px;
  }

  .sertification__col-title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }

  .sertification__col-desc {
    font-size: 10px;
    line-height: 12px;
    text-transform: none;
  }

  .sertification__col:first-child {
    margin-right: 20px;
  }

  .qval__item-img {
    max-width: 33px;
  }

  .qval__item-left {
    flex: 0 0 33px;
    margin-right: 10px;
  }

  .qval__item-title {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 14px;
  }

  .qval__item-desc {
    font-size: 10px;
    line-height: 12px;
  }

  .qval__item {
    margin-bottom: 20px;
  }

  .qval-form-title {
    font-size: 16px;
  }

  .qval-form {
    width: 290px;
  }

  .qval-form-wrap {
    width: 290px;
  }

  .qval-form__desc {
    font-size: 8px;
    line-height: 9px;
  }

  .qval-form__input-wrap {
    max-width: 215px;
  }

  .qval-form__input-wrap.avatar:before {
    transform: translateY(-50%) scale(0.6);
    left: 10px;
  }

  .qval-form__input-wrap.tel:before {
    transform: translateY(-50%) scale(0.6);
    left: 14px;
  }

  .qval-form__sbm {
    height: 48px;
    line-height: 48px;
    font-size: 10px;
  }
  .qval-form__sbm:hover, .qval-form__sbm:active, .qval-form__sbm:focus {
    height: 48px;
    line-height: 48px;
    font-size: 10px;
  }

  .qval-form__input {
    max-width: 215px;
    height: 24px;
    font-size: 8px;
    padding-left: 30px;
  }

  .footer-left {
    font-size: 8px;
  }

  .footer .container {
    padding: 15px 15px 12px 15px;
  }

  .footer-soc-item {
    margin-right: 0;
  }

  .stepprice-title__text {
    border-top: 2px solid #ffcc33;
    border-bottom: 2px solid #ffcc33;
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .stepprice-title__text span {
    display: block;
    width: 100%;
    text-align: center;
  }

  .stepprice-title {
    border-top: none;
    border-bottom: none;
  }

  .stepprice-title:before, .stepprice-title:after {
    display: none;
  }

  .stepprice-title__text:before, .stepprice-title__text:after {
    position: absolute;
    display: block;
    content: "";
    top: 4px;
    width: 26px;
    height: 26px;
    border: 2px solid #ffcc33;
    border-top: none;
    border-right: none;
  }

  .stepprice-title__text:before {
    right: -13px;
    transform: rotate(-135deg);
  }

  .stepprice-title__text:after {
    left: -13px;
    transform: rotate(45deg);
  }

  .stepprice-title {
    top: -19px;
    height: 38px;
    width: 100%;
    padding: 0 30px;
    font-size: 14px;
    text-transform: none;
  }

  .modal-request__container {
    padding: 15px;
  }

  .modal-request__title {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  .modal-request__title2 {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .modal-request__title3 {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 14px;
  }

  .prices-table tbody td {
    padding: 10px 5px 10px 5px;
    font-size: 12px;
  }

  .prices-table thead th {
    padding: 0 5px 5px 5px;
    min-width: 80px;
  }

  .prices-table {
    margin-bottom: 0;
  }

  .prices-block {
    margin-bottom: 50px;
  }

  .prices {
    padding: 25px 0 45px 0;
  }

  .prices-title {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .prices-table-title {
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    max-width: 100%;
  }

  .prices-table-desc {
    font-size: 12px;
    display: block;
  }

  .wsloy__bad-item {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .wsloy__good-item {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .prices-table thead {
    font-size: 13px;
  }

  .prices__download-btn {
    max-width: 220px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 0 auto;
  }
  .prices__download-btn:hover, .prices__download-btn:active, .prices__download-btn:focus {
    max-width: 220px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */
