.clients {
	padding: 60px 0 170px 0;
}

.clients__list {
	display: flex;
	justify-content: space-between;
}

.clients__img {
	width: auto;
}

.clients__title {
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 70px;
	text-align: center;
}