.feedback {
	background: #3a5997;
	padding: 55px 0 60px 0;
}

.owl-feedback {
	padding: 0 65px;
}

.feedback-title {
	font-size: 35px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 55px;
	text-align: center;
}

.owl-feedback__item {
	background: #fff;
	padding: 20px 35px 10px 30px; 
}

.owl-feedback__item-top {
	display: flex;
	margin-bottom: 30px;
}

.owl-feedback__item-top-left {
	flex: 0 0 160px;
	border-radius: 50%;
	background: #959595;
	overflow: hidden;
	margin-right: 35px;
	height: 160px;
}

.owl-feedback__item-top-right {
	padding-top: 20px;
}

.owl-feedback__item-name {
	font-size: 20px;
	margin-bottom: 20px;
}

.owl-feedback__item-city {
	font-size: 18px;
	margin-bottom: 20px;
}

.owl-feedback__item-prof {
	font-size: 18px;
}

.owl-feedback__item-text {
	font-size: 16px;
	line-height: 16px;
	min-height: 85px;
	margin-bottom: 20px;
}

.owl-feedback__soc-fb {
	@include states {
		font-size: 0;
		text-indent: -99999px;
		display: block;
		@include get-sprite($main-spr, facebook);
	}
	@include linksHover();
}

.owl-feedback .owl-prev {
	top: 50%;
	left: -15px;
	position: absolute;
	font-size: 0;
	text-indent: -9999999px;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	@include linksHover();
	
	&:before {
		display: block;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include get-sprite($main-spr, arrow-left);
	}
}

.owl-feedback .owl-next {
	top: 50%;
	right: -15px;
	position: absolute;
	font-size: 0;
	text-indent: -9999999px;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	@include linksHover();
	
	&:before {
		display: block;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include get-sprite($main-spr, arrow-right);
	}
}

.owl-feedback__audio-play {
	display: inline-block;
	@include get-sprite($main-spr, play);
	@include linksHover();
	margin-right: 12px;
	vertical-align: middle;
	position: relative;
	transition: opacity .3s ease-in-out;

	&.playing {
		background: none;

		&:before {
			position: absolute;
			display: block;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.8);
			@include get-sprite($main-spr, pause);
		}
	}
}

.owl-feedback__audio-img-container {
	width: 130px;
	display: inline-block;
	vertical-align: middle;
	height: 55px;
}

.owl-feedback__audio-text {
	font-size: 12px;
	line-height: 14px;
	@include font(light);
	text-align: right;
}

.owl-feedback__item-bot {
	display: flex;
	justify-content: space-between;
}