.footer {
	background: #464646;

	.container {
		padding: 15px 65px 12px 65px;
		position: relative;
	}
}

.footer-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-left {
	font-size: 12px;
	color: #fff;
}

.footer-soc-item {
	margin-right: 35px;
	display: inline-block;
	width: 36px;
	height: 36px;

	&:last-child {
		margin-right: 0;
	}
}

.footer-soc-link {
	@include states {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		font-size: 0;
		text-indent: -99999px;

		&.vk:before {
			@extend %center;
			@include get-sprite($main-spr, vk-footer);
		}

		&.fb:before {
			@extend %center;
			@include get-sprite($main-spr, fb-footer);
		}
	}

	@include linksHover();
}

.fotter__work,
.footer__adress,
.footer__email,
.footer__tel {
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}