.header-in {
	background: image-url('head-bg.png') no-repeat;
	background-size: cover;
	padding-top: 25px;
	padding-bottom: 120px;
}

.header-top__logo-container {
	width: 175px;
	min-height: 56px;
	overflow: hidden;
	background: #d8d8d8;
	margin-right: 90px;
	vertical-align: top;
	display: inline-block;
}

.header-top__desc {
	margin-right: 70px;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 1px;
	vertical-align: top;
	text-transform: uppercase;
}

.header-top__logo {
	max-width: 100%;
	height: auto;
}

.header-in-top {
	display: flex;
	margin: -25px -5000px 0 -5000px;
	padding: 15px 5000px 17px 5000px;
	background: #fff;
}

.header-nav {
	background: #e3e3e3;
	margin: 0 -5000px 0 -5000px;
	padding: 10px 5000px 10px 5000px;
}

.header-nav__list {
	display: flex;
	justify-content: space-between;
}

.header-nav__link {
	@include states {
		display: inline-block;
		line-height: 40px;
	}
	@include linksHover();
}

.header-nav__item {
	font-size: 14px;
	letter-spacing: 1px;
	@include font(med);
	text-transform: uppercase;
}

.header-nav__item-home {
	padding-left: 45px;
}

.header-nav__link-home {
	@include states {
		width: 45px;
		height: 100%;
		line-height: normal;
	}
}

.header-nav__link-callback {
	@include states {
		line-height: normal;
		background: #fed71b;
		padding: 12px 20px;
		text-align: center;
		display: inline-block;
	}
}

.header-top__worktime {
	position: relative;
	padding-left: 50px;
	font-size: 14px;
	vertical-align: top;
	display: inline-block;

	b {
		font-size: 18px;
		@include font(bold);
		line-height: 17px;
	}
}

.header-in-top__left {
	margin-right: 20px;
}

.header-in-top__right {
	margin-left: auto;
	text-align: right;
}

.header-top__tel {
	font-size: 14px;
	margin-bottom: 10px;

	p {
		margin-bottom: 3px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	b {
		font-size: 24px;
		@include font(bold);	
	}
}

.header-top__right-btn {
	@include states {
		text-decoration: underline;
		position: relative;
		padding-left: 27px;
		display: inline-block;
		font-size: 14px;
	}
	@include linksHover();
}

.header-in-mid {
	padding-top: 90px;
}

.header-in-mid__desc {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-size: 36px;
	letter-spacing: 2.6px;
	background: black;
	padding: 9px 25px;
	text-align: center;
	@include font(bold);
	margin-top: 115px;
}

.header-in-bottom__form {
	border: none;
	width: 100%;
	background: #fff;
	padding: 30px 15px; 
}

.header-in-bottom__input {
	width: 100%;
	outline: none;
	border: 1px solid #979797;
	padding: 0 10px;
	font-size: 12px;
	margin-bottom: 15px;
	background: #fff;
	height: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.header-in-bottom__inputs-wrap {
	margin-bottom: 15px;
}

.header-in-bottom__form-desc {
	font-size: 18px;
	text-align: center;
	letter-spacing: 1.5px;
	@include font(bold);
	margin-bottom: 15px;
}

.header-in-bottom__sbm-btn {
	width: 100%;
	outline: none;
	border: none;
	text-align: center;
	background: #dd001b;
	font-size: 12px;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	height: 40px;
	@include font(bold);
	@include linksHover();
}

.header-in-bottom__left {
	padding-top: 85px;
}

.header-in-bottom__left-title {
	font-size: 30px;
	line-height: 40px;
	color: #fff;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 25px;

	&:after {
		position: absolute;
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		max-width: 440px;
		background: #fff;
		left: 0;
		bottom: 0;
	}
}

.header-in-bottom__left-desc {
	font-size: 25px;
	line-height: 33px;
	color: #fff;
}