.howworks {
	padding: 65px 0 60px 0;
}

.howworks__item_1 {
	.howworks__item-wrap {
		margin-left: -30px;
	}

	.howworks__item-img-container {
		padding-left: 20px;
	}

}

.howworks__item_2 {
	.howworks__item-wrap {
		margin-left: -15px;
		margin-right: -15px
	}

	.howworks__item-img-container {
		padding-left: 15px;
	}
}

.howworks__item_3 {
	.howworks__item-wrap {
		margin-right: -15px
	}

	.howworks__item-img-container {
		padding-left: 22px;
	}
}

.howworks__item-top {
	min-height: 75px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 14px;
}

.howworks__item-img-container {
	margin-bottom: 25px;
	height: 100px;
}

.howworks__item-img {
	width: auto;
}

.howworks__item-bot {
	font-size: 16px;
	line-height: 14px;
}

.howworks__que-btn {
	@include states {
		max-width: 390px;
		width: 100%;
		display: block;
		margin: 0 auto;
		height: 70px;
		line-height: 70px;
		background: #fff200;
		text-align: center;
		font-size: 16px;
		box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
		border-radius: 5px;
	}
	@include linksHover();
}

.howworks-content {
	margin-bottom: 85px;
}

.howworks__right {
	margin-right: -30px;
}

.howworks__right-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 40px;
}

.howworks__video-container {
	border: 1px solid $orange;
	padding: 15px;
}