.main-article {
	padding: 35px 0 35px 0;

	.container {
		padding-right: 140px;
	}
}

.main-article__title {
	font-size: 30px;
	@include font(med);
	margin-bottom: 15px;
}

.main-article__desc {
	font-size: 16px;
	line-height: 22px;
	@include font(light);
}