.modal-request__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.modal-request__dialog {
	position: relative;
	pointer-events: auto;
	width: 438px;
	max-width: 90%;
}

.modal-request__container {
	background: rgba(149,149,149,0.8);
	padding: 40px 20px 20px 20px;
	border-radius: 15px;
	border: 1px solid $orange;
}

.modal-request__desc {
	font-size: 10px;
	color: #fff;
	margin-bottom: 16px;
	text-align: center;
	line-height: 10px;
}

.modal-request__title {
	color: #fff;
	font-size: 20px;
	line-height: 18px;
	text-align: center;
}

.modal-request__title1 {
	margin-bottom: 15px;
}

.modal-request__title2 {
	margin-bottom: 35px;
	text-transform: uppercase;
}