.prices {
	padding: 60px 0 50px;
	background: image-url("prices-bg.png") no-repeat;
	background-size: cover;
}

.prices-title {
	color: #ffcc33;
	font-size: 35px;
	text-align: center;
	margin-bottom: 45px;
	text-transform: uppercase;
}

.prices-table-title {
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	max-width: 555px;
}

.prices-table-desc {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	@include font(bold);
	text-transform: uppercase;
}

.prices-table {
	color: #fff;
	width: 100%;
	margin-bottom: 60px;

	thead {
		font-size: 20px;
		@include font(bold);
		text-transform: uppercase;

		th {
			padding-bottom: 5px;
		}
	}

	tbody {
		tr {
			border-top: 1px solid rgba(255,255,255,0.5);
		}

		.price-table__border-row {
			border-top: 2px solid #fff;
		}

		td {
			padding: 10px 0;
			font-size: 16px;
			text-transform: uppercase;
		}

		.price-table__padding-td {
			vertical-align: top;
			padding-top: 25px;
		}
	}
}

.prices-block__top {
	margin-bottom: 35px;
}

.prices__download-btn {
	@include states {
		width: 100%;
		display: block;
		max-width: 275px;
		background-color: rgb(255, 242, 0);
		height: 55px;
		line-height: 55px;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;
	}
	@include linksHover();
}
