.qval {
	background: image-url("qval-bg.png") 50% 50% no-repeat;
	background-size: contain;

	.container {
		padding: 85px 65px 80px 65px;
		position: relative;
	}
}

.qval__list {
	padding-right: 488px;
}

.qval__item {
	display: flex;
	margin-bottom: 55px;

	&:last-child {
		margin-bottom: 0;
	}
}

.qval__item-left {
	flex: 0 0 112px;
	margin-right: 15px;
}

.qval__item-img {
	width: auto;
}

.qval__item-title {
	margin-top: -6px;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
}

.qval__item-desc {
	font-size: 16px;
	line-height: 18px;
}

.qval-form-wrap {
	width: 438px;
	position: absolute;
	bottom: 70px;
	right: 65px;
}

.qval-form-title {
	font-size: 25px;
	text-align: center;
	margin-bottom: 13px;
}

.qval-form {
	width: 438px;
	background: rgba(149,149,149,0.5);
	border-radius: 10px;
	padding: 20px 22px 20px 22px;
}

.qval-form__desc {
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 14px;
}

.qval-form__input-wrap {
	position: relative;
	margin-bottom: 20px;
	max-width: 322px;
	margin: 0 auto 20px auto;

	&.avatar:before {
		@extend %icons;
		left: 15px;
		@include get-sprite($main-spr, mini-ava);
	}

	&.tel:before {
		@extend %icons;
		left: 17px;
		@include get-sprite($main-spr, mini-tel);
	}

	&.email:before {
		@extend %icons;
		left: 14px;
		@include get-sprite($main-spr, email);
	}
}

.qval-form__input {
	max-width: 322px;
	outline: none;
	border-radius: 15px;
	display: block;
	width: 100%;
	margin: 0 auto;
	height: 35px;
	border: 1px solid black;
	box-shadow: inset 0px 0px 7.76px 0.24px rgba(0, 0, 0, 0.55);
	background-color: rgba(255, 255, 255, 0.302);
	padding: 0 15px 0 40px;
	font-size: 14px;
}

.qval-form__sbm {
	@include states {
		outline: none;
		border: none;
		width: 100%;
		height: 70px;
		line-height: 70px;
		text-align: center;
		font-size: 16px;
		background-color: rgb(255, 242, 0);
		box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
		border-radius: 5px;
	}
	@include linksHover();
}