.sertification {
	background: image-url("gost-bg.png") no-repeat;
	background-size: cover;
	padding: 55px 0 55px 0;

	.container {
		padding: 0 65px;
	}
}

.sertification__title {
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 55px;
	text-align: center;
}

.sertification__list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;
}

.sertification__item {
	width: 222px;
}

.sertification__cols {
	display: flex;
	justify-content: space-between;
}

.sertification__col {
	width: 390px;
}

.sertification__col-title {
	font-size: 35px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 60px;
	color: #fff;
}

.sertification__col-desc {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}