.stepprice {
	background: image-url("price-bg.png") no-repeat;
	background-size: cover;
	padding: 55px 0;
}

.steps-tab {
	display: none;

	&.active {
		display: block;
	}
}

.stepprice-wrap {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	min-height: 590px;
	border: 2px solid $orange;
	border-top: none;
	padding: 65px 110px 45px 110px;

	&:before,
	&:after {
		display: block;
		position: absolute;
		content: "";
		width: 86px;
		height: 2px;
		background: $orange;
		top: 0;
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}
}

.stepprice-title {
	width: 770px;
	top: -27px;
	margin: 0 auto;
	text-align: center;
	height: 56px;
	line-height: 52px;
	border-top: 2px solid $orange;
	border-bottom: 2px solid $orange;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;

	&:before,
	&:after {
		position: absolute;
		display: block;
		content: "";
		top: 6px;
		width: 40px;
		height: 40px;
		border: 2px solid $orange;
		border-top: none;
		border-right: none;
	}

	&:before {
		right: -20px;
		transform: rotate(-135deg);
	}

	&:after {
		left: -20px;
		transform: rotate(45deg);
	}
}

.stepprice-step__number {
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}

.stepprice-step__top {
	padding: 0 15px;
}

.stepprice-step__bar-wrap {
	border-radius: 5px;
	height: 11px;
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}

.stepprice-step__bar {
	height: 100%;
	left: 0;
	background: #ffcc33;
}

.stepprice-step__title {
	font-size: 30px;
	color: #fff;
}

.stepprice-step1__list {
	padding-top: 10px;
	margin-right: -95px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}

.stepprice-step1__item {
	width: 195px;
	margin-right: 95px;
}

.stepprice-step1__img-container {
	height: 120px;
	text-align: center;
	line-height: 120px;
}

.stepprice-step1__img {
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 20px;
}

.stepprice-step1__link {
	@include states {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 60px;
		border: 2px solid $orange;
		color: #fff;
		font-size: 20px;
		line-height: 14px;
		text-align: center;
	}
	@include linksHover();
}

.stepprice-bottom {
	position: absolute;
	bottom: 15px;
	right: 15px; 
}

.stepprice-bottom__title {
	font-size: 70px;
	color: #84827d;
	opacity: 0.3;
	padding-bottom: 65px;
	text-transform: uppercase;
	@include font(bold);
}

.stepprice-bottom__list {
	position: absolute;
	opacity: 0.4;
	bottom: -5px;
	right: 10px;
}

.stepprice-bottom__item {
	display: inline-block;
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.stepprice-bottom__img-container {
	margin-bottom: 15px;
}

.stepprice-bottom__text {
	text-align: center;
	font-size: 16px;
	color: #fff;
}

.stepprice-step2__list {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}

.stepprice-step2__item {
	width: 166px;
}

.stepprice-label {
	cursor: pointer;
	display: block;
	margin-bottom: 20px;
}

.stepprice-radio {
	display: none;
}

.stepprice-radio:checked + .stepprice-radio-text:before {
	background: #ebbd31; 
}

.stepprice-radio-text {
	font-size: 30px;
	color: #fff;
	width: 143px;
	padding-left: 40px;
	position: relative;
	display: inline-block;

	&:before {
		position: absolute;
		content: "";
		display: block;
		top: 13px;
		left: 0;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 1px solid #ebbd31;
		background: none; 
	}
}

.stepprice-radio-text-m2 {
	font-size: 20px;
	color: #fff;
}

.stepprice-input-wrap {
	margin-bottom: 140px;
}

.stepprice-input {
	width: 150px;
	height: 30px;
	color: #fff;
	padding: 0 6px;
	font-size: 14px;
	outline: none;
	border: none;
	background: rgba(153,153,153,0.3);

	&::-webkit-input-placeholder {
		color: rgba(255,255,255,0.8);
	}
}

.stepprice-input-metr-wrap {
	display: inline-block;
	position: relative;
	padding-left: 34px;
	padding-top: 5px;
	width: 200px;

	&.focused:before {
		background: #ebbd31;
	}

	&:before {
		position: absolute;
		content: "";
		display: block;
		top: 13px;
		left: 0;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 1px solid #ebbd31;
		background: none; 
	}
	
}

.stepprice-inputs-colleft {
	display: inline-block;
	width: 48%;
	padding: 40px 90px 0 90px;
	vertical-align: top;
}

.stepprice-inputs-colright {
	display: inline-block;
	width: 48%;
	padding: 40px 50px 0 90px;
	vertical-align: top;

	.stepprice-radio-text {
		width: 200px;
	}
}

.stepprice-step3__btn {
	@include states {
		display: block;
		width: 192px;
		margin: 0 auto;
		height: 60px;
		border: 2px solid $orange;
		color: #fff;
		font-size: 20px;
		text-align: center;
		line-height: 56px;
		position: relative;
		z-index: 1;
	}
	@include linksHover();
}

.stepprice-step4__item {
	width: 195px;
}

.stepprice-step4__list {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	z-index: 1;
}

.stepprice-step4__img-container {
	height: 170px;
	text-align: center;
	line-height: 170px;
}

.stepprice-step4__img {
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 55px;
}