.works {
	background: image-url('works-bg.png') no-repeat;
	background-size: cover;
	padding: 25px 0 60px 0;
}

.works__item {
	margin-bottom: 25px;

	&:last-child {
		.works__item-inner {
			margin-right: -3px;
			background: rgba(141,198,63,0.5);
			margin-left: 5px;
			padding-left: 5px;
			border-radius: 5px;
			padding-top: 5px;
			margin-top: -5px;
			padding-bottom: 7px;
			padding-right: 3px;
		}

		.works__item-title {
			margin-right: -3px;
		}
	}
}

.works__item-inner {
	margin-right: -15px;
}

.works__item-title {
	min-height: 55px;
	font-size: 20px;
	line-height: 22px;
	border-bottom: 1px solid $orange;
	margin-bottom: 20px;
}

.works__item-desc {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

.works__title {
	width: 780px;
	margin: 0 auto;
	text-align: center;
	height: 56px;
	line-height: 52px;
	border-top: 2px solid $orange;
	border-bottom: 2px solid $orange;
	position: relative;
	font-size: 35px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 15px;

	&:before,
	&:after {
		position: absolute;
		display: block;
		content: "";
		top: 6px;
		width: 40px;
		height: 40px;
		border: 2px solid $orange;
		border-top: none;
		border-right: none;
	}

	&:before {
		right: -20px;
		transform: rotate(-135deg);
	}

	&:after {
		left: -20px;
		transform: rotate(45deg);
	}
}




.works__ia-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	border: 2px solid #ffff00;
	border-left: none;
}

.works__ia-container figure {
	border-left: 2px solid #ffff00;
	position: absolute;
	top: 0;
	left: 180px;
	width: 595px;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
	transition: all 0.3s ease-in-out;
}

.works__ia-container > figure {
	position: relative;
	left: 0 !important;
}

.works__ia-container img {
	display: block;
	width: 100%;
}

.works__ia-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
	opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.works__ia-container input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}

.works__ia-container input:checked ~ figure {
	left: 595px;
	transition: all 0.7s ease-in-out;
}

.works__ia-container input:checked ~ figure input{
	z-index: 1;
}

figure {
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

.works__ia-text {
	background: rgba(0,0,0,0.5);
	width: 180px;
	min-height: 175px;
	padding: 10px 0 10px 10px;
	position: absolute;
}

.works__ia-text-title {
	color: #fff;
	font-size: 20px;
	line-height: 22px;
	margin-bottom: 5px;
	min-height: 45px;
}

.works__ia-text-desc {
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}

.works__ia-prev {
	z-index: 101;
	top: 50%;
	left: -20px;
	position: absolute;
	font-size: 0;
	text-indent: -9999999px;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	@include linksHover();
	
	&:before {
		display: block;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include get-sprite($main-spr, arrow-left);
	}
}

.works__ia-next {
	z-index: 101;
	top: 50%;
	right: -20px;
	position: absolute;
	font-size: 0;
	text-indent: -9999999px;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 50%;
	@include linksHover();
	
	&:before {
		display: block;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include get-sprite($main-spr, arrow-right);
	}
}

.works__ia-wrap {
	position: relative;
}