.wsloy {
	padding: 50px 0 55px 0;
}

.wsloy__title {
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.wsloy-row {
	display: flex;
	margin-bottom: 60px;

	&:before,
	&:after {
		display: none;
	}
}

.wsloy__item {
	position: relative;
	padding: 0 40px 100px 20px;
	height: 100%;

	&:after {
		position: absolute;
		content: "";
		display: block;
		bottom: 25px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 79px;
		height: 80px;
		background: image-url("good-smile.png") no-repeat;
	}
}

.wsloy__item_bad {
	border: 2px solid #ff9999;
	padding: 2px 42px 102px 22px;

	&:after {
		position: absolute;
		content: "";
		display: block;
		bottom: 25px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 79px;
		height: 80px;
		background: image-url("bad-smile.png") no-repeat;
	}
}

.wsloy__item_good {
	border: 4px solid #99dbb9;
}

.wsloy__img-container {
	display: flex;
	height: 215px;
	margin-bottom: 25px;
	align-items: center;
	overflow: hidden;
}

.wsloy__img {
	max-width: 100%;
}

.wsloy__item-title {
	padding-left: 30px;
	font-size: 22px;
	line-height: 28px;
	@include font(bold);
	margin-bottom: 25px;
	text-transform: uppercase;
}

.wsloy__bad-item {
	position: relative;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	padding-left: 30px;
	margin-bottom: 25px;

	&:before {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		top: 8px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #e42f39;
	}
}

.wsloy__good-item {
	position: relative;
	font-size: 16px;
	line-height: 26px;
	text-transform: uppercase;
	padding-left: 30px;
	margin-bottom: 25px;

	&:before {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		top: 8px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #00a651;
	}
}

.wsloy__bad-list,
.wsloy__good-list {
	margin-bottom: 50px;
}

.wsloy__consult-btn {
	@include states {
		border-radius: 3px;
		background-color: rgb(255, 242, 0);
		box-shadow: 3.316px 2.237px 3.84px 0.16px rgba(0, 0, 0, 0.35);
		max-width: 100%;
		width: 390px;
		height: 70px;
		line-height: 70px;
		font-size: 16px;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	@include linksHover();
}