/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.header-top__logo-container,
	.header-top__desc {
		margin-right: 35px;
	}

	.header-in-mid__desc {
		font-size: 30px;
	}

	.works__ia-container figure {
		width: 390px;
	}

	.works__ia-container input:checked ~ figure {
		left: 390px;
	}

	.stepprice-wrap:before, .stepprice-wrap:after {
		width: 56px;
	}

	.qval-form-wrap {
		bottom: 110px;
	}

	.wsloy__item-title {
		font-size: 19px;
	}

	.stepprice-inputs-colleft {
		padding: 40px 80px 0 80px;
	}

	.stepprice-inputs-colright {
		padding: 40px 0 0 80px;
	}

	.prices-table-title {
		max-width: 460px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	body {
		table-layout: fixed;
	}

	.header-in-top {
		padding: 10px 5000px;
	}

	.header-top__menu-xs {
		display: inline-block;
		margin-top: 6px;
	}

	.menu-xs__btn {
		display: inline-block;
		padding: 11px 0;
		width: 45px;
		@include linksHover();
		border: 1px solid #d8d8d8;
		border-radius: 4px;

		.icon-bar {
			transition: all 500ms ease-in-out;
			position: relative;
			background-color: #B5B5B5;
			display: block;
			width: 30px;
			height: 4px;
			margin-bottom: 4px;
			margin-right: auto;
			margin-left: auto;
			border-radius: 3px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.menu-xs__close {
		position: absolute;
		right: 0;
		top: 20px;
		display: block;
		width: 20px;
		height: 20px;
		overflow: hidden;
		@include linksHover();
	}

	.menu-xs__close::before, 
	.menu-xs__close::after {
		content: '';
		position: absolute;
		height: 4px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -2px;
		background: #000;
	}

	.menu-xs__close::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.menu-xs__close::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.menu-xs__dropdown-wrap {
		overflow-y: auto;
		max-height: 100%;
		margin-bottom: 20px;
		position: relative;
		padding-top: 20px;
	}

	.menu-xs__item {
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.menu-xs__link {
		@include linksHover();
	}

	.header-top__worktime {
		padding-left: 0;
		margin-bottom: 30px;
	}

	.menu-xs__dropdown-menu {
		box-shadow: none;
		margin: 0;
		border-radius: 0;
		padding: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		background: #fff;
		top: 0;
		left: 0;
		border: none;

		.container {
			position: relative;
			height: 100%;
		}
	}

	.main-article .container {
		padding-right: 15px;
	}

	.works__title {
		width: 680px;
	}

	.works__item-inner {
		margin-right: 0;
	}

	.works__ia-container input:checked ~ figure {
		left: 260px;
	}

	.works__ia-container figure {
		width: 260px;
		left: 150px;
	}

	.works__ia-text {
		width: 150px;
	}

	.works__ia-container input {
		width: 150px;
	}

	.works__ia-text-title {
		font-size: 16px;
	}

	.works__ia-text-desc {
		font-size: 12px;
	}

	.wsloy__item-title {
		font-size: 14px;
		margin-right: -15px;
		padding-left: 20px;
		margin-bottom: 15px;
	}

	.wsloy__good-item {
		font-size: 14px;
		line-height: 24px;
		padding-left: 20px;
		margin-bottom: 20px;
		margin-right: -20px;
		word-break: break-word;
	}

	.wsloy__good-item:before {
		width: 8px;
		height: 8px;
	}

	.wsloy__bad-item:before {
		width: 8px;
		height: 8px;
	}

	.wsloy__img-container {
		height: 155px;
	}

	.wsloy__bad-item {
		font-size: 14px;
		line-height: 24px;
		padding-left: 20px;
		margin-bottom: 20px;
		margin-right: -20px;
		word-break: break-word;
	}

	.stepprice-title {
		width: 630px;
		font-size: 25px;
	}

	.stepprice-inputs-colleft {
		padding: 40px 40px 0 40px;
	}

	.stepprice-inputs-colright {
		padding: 40px 0 0 20px;
	}

	.stepprice-wrap:before, .stepprice-wrap:after {
		width: 17px;
	}

	.stepprice-wrap {
		padding: 65px 60px 45px 60px;
	}

	.stepprice-step2__list {
		justify-content: space-around;
	}

	.stepprice-step4__item {
		width: 175px;
	}

	.howworks-content {
		display: flex;
		flex-wrap: wrap;
		margin-right: 0;
		margin-left: 0;

		&:before,
		&:after {
			display:  none;
		}
	}

	.howworks-content__left {
		order: 2;
	}

	.howworks-content__right {
		order: 1;
		margin: auto;
	}

	.howworks__right {
		margin-right: 0;
	}

	.howworks__right-title {
		margin-bottom: 15px;
	}

	.howworks__video-container {
		margin-bottom: 25px;

		iframe {
			width: 515px;
			height: 335px;
		}
	}

	.howworks__item_1 .howworks__item-wrap {
		margin-left: 0;
	}

	.howworks__item_2 .howworks__item-wrap {
		margin-left: 0; 
		margin-right: 0; 
	}

	.howworks__item_3 .howworks__item-wrap {
		margin-right: 0;
	}	

	.howworks__item_1 .howworks__item-img-container {
		padding-left: 0;
	}

	.howworks__item_2 .howworks__item-img-container {
		padding-left: 0;
	}

	.howworks__item_3 .howworks__item-img-container {
		padding-left: 0;
	}

	.howworks__item-img {
		margin: 0 auto;
	}

	.sertification__col-title {
		font-size: 25px;
		margin-bottom: 40px;
	}

	.sertification__col {
		width: 50%;

		&:first-child {
			margin-right: 30px;
		}
	}

	.sertification__col-desc {
		font-size: 14px;
	}

	.sertification {
		background-position: 50% 50%;
		background-size: cover;
	}

	.sertification .container {
		padding-right: 15px;
		padding-left: 15px;
	}

	.qval .container {
		padding: 25px 15px 25px 15px;
	}

	.qval__list {
		padding-right: 0;
		margin-bottom: 30px;
	}

	.qval-form-wrap {
		position: relative;
		bottom: initial;
		margin: 0 auto;
		right: initial;
	}

	.qval {
		background-position: 100% 50%;
		background-size: cover;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.header-in-top {
		padding-top: 30px;
	}

	.header-top__tel {
		margin-bottom: 30px;
	}

	.header-in-mid__desc {
		font-size: 19px;
		margin-top: 0;
		margin-bottom: 25px;
	}

	.header-in-mid {
		padding-top: 50px;
	}

	.header-in {
		padding-top: 5px;
		padding-bottom: 40px;
	}

	.header-in-top__left {
		margin-right: 0;
	}

	.wsloy-row {
		flex-wrap: wrap;
	}

	.wsloy__consult-btn {
		@include states {
			overflow: hidden;
		}
	}

	.wsloy__item {
		height: auto;
		margin-bottom: 25px;
	}

	.main-article__title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 20px;
	}

	.main-article__desc {
		font-size: 12px;
		line-height: 14px;
	}

	.works__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 0;
		margin-bottom: 10px;

		&:before,
		&:after {
			display: none;
		}
	}

	.works__item {
		margin-bottom: 20px;
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}

	.works__item-title {
		font-size: 14px;
		line-height: 14px;
		min-height: 35px;
		margin-bottom: 5px;
		border-bottom: none;
		@include font(bold);
	}

	.works__item-desc {
		font-size: 10px;
		line-height: 12px;
	}

	.works__item:last-child .works__item-title {
		margin-right: 0;
	}

	.works__item:last-child .works__item-inner {
		margin-right: 0;
		padding-right: 5px;
		margin-left: -5px;
		padding-left: 5px;
	}

	.works__title {
		max-width: 90%;
		margin-bottom: 20px;
		height: 30px;
		line-height: 26px;
		font-size: 20px;
	}

	.works__title:before, .works__title:after {
		width: 22px;
		height: 22px;
		top: 2px;
	}

	.works__title:before {
		right: -11px;
	}

	.works__title:after {
		left: -11px;
	}

	.works__xs-slider {
		width: 289px;
		height: 289px;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
	}

	.xs-slider-block {
		height: 144px;
		width: 144px;
		border: 2px solid $orange;
		display: inline-block;
		cursor: pointer;
		transition: all 0.5s ease-in-out;
		overflow: hidden;
	}

	.works__xs-slider-block-1 {
		position: absolute;
		top: 0;
		left: 0;
	}

	.works__xs-slider-block-2 {
		position: absolute;
		top: 0;
		right: 0;
	}

	.works__xs-slider-block-3 {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.works__xs-slider-block-4 {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.works__xs-slider-block-1.active {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 95%;
		height: 95%;
		cursor: default;
		z-index: 10;
	}

	.works__xs-slider-block-2.active {
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		width: 95%;
		height: 95%;
		cursor: default;
		z-index: 10;
	}

	.works__xs-slider-block-3.active {
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		width: 95%;
		height: 95%;
		cursor: default;
		z-index: 10;
	}

	.works__xs-slider-block-4.active {
		bottom: 50%;
		right: 50%;
		transform: translate(50%, 50%);
		width: 95%;
		height: 95%;
		cursor: default;
		z-index: 10;
	}


	.works__xs-slider-text {
		width: 144px;
		min-height: 144px;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		padding: 6px;
	}

	.works__xs-slider-title {
		font-size: 13px;
		line-height: 14px;
		min-height: 35px;
		color: #fff;
		margin-bottom: 5px;
	}

	.works__xs-slider-desc {
		font-size: 9px;
		line-height: 12px;
		color: #fff;
	}

	.works {
		padding-bottom: 40px;
	}

	.wsloy__title {
		font-size: 14px;
		line-height: 18px;
	}

	.wsloy__suptitle {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 15px;
	}

	.wsloy__inner-title {
		font-size: 14px;
		line-height: 18px;
	}

	.wsloy__inner-desc {
		font-size: 10px;
		line-height: 12px;
	}

	.wsloy__inner-item {
		margin-bottom: 15px;
	}

	.wsloy__img-container_left {
		margin-left: 0;
		padding: 0 0 0 0;
	}

	.wsloy__img {
		width: auto;
		margin: 0 auto;
	}

	.wsloy__img-container {
		margin-bottom: 5px;
		height: 190px;
	}

	.wsloy__img-container_right {
		padding: 15px;
	}

	.wsloy__list {
		margin-bottom: 35px;
	}

	.wsloy__consult-btn {
		@include states {
			margin-right: auto;
			margin-left: auto;
			max-width: 220px;
			font-size: 14px;
			height: 40px;
			line-height: 40px;
		}
	}

	.wsloy {
		padding-bottom: 35px;
	}




	.stepprice-title {
		width: 86%;
		font-size: 20px;
		display: flex;
		align-items: center;
		line-height: normal;
	}

	.stepprice-wrap:before, .stepprice-wrap:after {
		width: 13px;
	}

	.stepprice-wrap {
		padding: 35px 15px 25px 15px;
		min-height: 450px;
		margin: 0 -9px;
	}

	.stepprice-step__title {
		font-size: 14px;
		line-height: 16px;
		padding: 0 10px;
	}

	.stepprice-step__number {
		font-size: 14px;
		margin-bottom: 15px;
		padding: 0 10px;
	}

	.stepprice-step1__img {
		max-width: 110%;
		padding-bottom: 10px;
	}

	.stepprice-step__bar-wrap {
		height: 8px;
	}

	.stepprice-bottom__title {
		padding-bottom: 55px;
		font-size: 30px;
	}

	.stepprice-step__top {
		padding: 0;
	}

	.stepprice-bottom__item {
		margin-right: 25px;
	}

	.stepprice-bottom__img {
		max-width: 55px;
	}

	.stepprice-bottom__text {
		font-size: 10px;
	}

	.stepprice-bottom {
		width: 100%;
		right: initial;
		left: 30px;
		bottom: 0;
	}

	.stepprice-bottom__list {
		bottom: 5px;
		right: initial;
		left: 0;
		padding-left: 15px;
	}

	.stepprice-bottom__img-container {
		margin-bottom: 5px;
	}

	.stepprice-step1__list {
		margin-right: -35px;
		padding-top: 20px;
	}

	.stepprice-step1__item {
		width: 65px;
		margin-right: 35px;
		margin-bottom: 20px;
	}

	.stepprice-step1__link {
		@include states {
			height: 30px;
			font-size: 12px;
			line-height: 12px;
		}
	}

	.stepprice-step1__img-container {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 70px;
	}

	.stepprice-step1__item {
		&:last-child {
			width: 95px;
		}

		&:nth-last-child(3){
			width: 95px;
			margin-right: 35px;

			.stepprice-step1__link {
				@include states {
					font-size: 8px;
				}
			}
		}
	}

	.stepprice-step2 {
		margin-right: -10px;
		margin-left: -10px;
	}

	.stepprice-step2__item {
		width: 21%;
		margin-bottom: 10px;
		
		.stepprice-step1__img-container {
			height: 80px;
		}

		.stepprice-step1__img {
			max-width: inherit;
			padding-bottom: 10px;
		}

		.stepprice-step1__link {
			@include states {
				font-size: 10px;
			}
		}

		.stepprice-step1__link_font-size {
			@include states {
				font-size: 8px;
			}
		}
	}

	.stepprice-step2__item {

	}

	.stepprice-step2__list {
		padding-top: 0;
	}

	.stepprice-step3 {
		.stepprice-step__title {
			text-align: center;

		}
	}

	.stepprice-input {
		width: 75px;
		height: 20px;
		font-size: 11px;
	}

	.stepprice-input-metr-wrap:before {
		width: 10px;
		height: 10px;
		top: 3px;
	}

	.stepprice-input__hold {
		font-size: 15px;
	}

	.stepprice-input-wrap {
		margin-bottom: 30px;

		&:before {
			display: none;
		}
	}

	.stepprice-step3__btn {
		@include states {
			width: 90px;
			height: 30px;
			line-height: 26px;
			font-size: 14px;
		}
	}

	.stepprice-step4__list {
		margin-right: -10px;
		margin-left: -10px;
		padding-top: 30px;
	}

	.stepprice-step4__item {
		width: 90px;

		&:first-child {
			.stepprice-step4__img {
				max-width: 60%;
			}
		}

		.stepprice-step1__link {
			font-size: 10px;
		}
	}

	.stepprice-inputs-colleft {
		padding: 40px 20px 0 0px;
	}

	.stepprice-radio-text {
		font-size: 14px;
		line-height: 16px;
		width: 75px;
		padding-left: 25px;

		&:before {
			top: 4px;
			width: 10px;
			height: 10px;
		}
	}

	.stepprice-input-metr-wrap {
		width: 100px;
		padding-left: 20px;
		padding-top: 0;
	}

	.stepprice-inputs-colright {
		padding: 40px 0 0 0;
	}

	.stepprice-inputs-colright .stepprice-radio-text {
		width: 100px;
	}

	.stepprice-step4__img {
		max-width: 90%;
	}

	.stepprice-radio-text-m2 {
		font-size: 12px;
	}

	.howworks__right-title {
		font-size: 14px;
	}

	.howworks__video-container iframe {
		width: 266px;
		height: 150px;
	}

	.howworks__item_1 .howworks__item-img-container,
	.howworks__item_2 .howworks__item-img-container,
	.howworks__item_3 .howworks__item-img-container {
		line-height: 60px;
		height: 60px;
		text-align: center;
	}

	.howworks__item-img {
		max-width: 55px;
		display: inline-block;
		vertical-align: bottom;
	}

	.howworks__item-top {
		font-size: 10px;
		margin-bottom: 15px;
		line-height: 12px;
		min-height: 75px;
	}

	.howworks__item-bot {
		font-size: 10px;
		line-height: 12px;
	}

	.howworks__que-btn {
		@include states {
			max-width: 220px;
			height: 40px;
			line-height: 40px;
			font-size: 14px;
		}
	}

	.howworks__video-container {
		padding: 10px;
	}

	.howworks-content {
		margin-bottom: 25px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.howworks {
		padding-bottom: 25px;
	}

	.feedback {
		padding: 30px 0;
	}

	.feedback-title {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.owl-feedback__item-top-left {
		flex: 0 0 100px;
		height: 100px;
	}

	.owl-feedback__item {
		padding: 15px 20px 10px 20px;
	}

	.owl-feedback {
		padding: 0;
	}

	.owl-feedback__item-top-right {
		padding-top: 0;
	}

	.owl-feedback__item-text {
		font-size: 8px;
		line-height: 8px;
		padding: 0px 15px;
		min-height: 35px;
		margin-bottom: 7px;
	}

	.owl-feedback__item-top {
		margin-bottom: 10px;
	}

	.owl-feedback__soc-fb {
		@include states {
			transform: scale(0.65);
			margin-left: -4px;
		}
	}

	.owl-feedback__item-bot {
		padding: 0 15px;
	}

	.owl-feedback__audio-img-container {
		width: 85px;
		height: 35px;
	}

	.owl-feedback__item-name {
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 11px;
	}

	.owl-feedback__item-prof {
		font-size: 12px;
		line-height: 11px;
	}

	.owl-feedback__item-city {
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 11px;
	}

	.owl-feedback__audio-play {
		transform: scale(0.7);
		margin-right: 2px;
	}

	.owl-feedback__audio-text {
		font-size: 8px;
		line-height: 9px;
	}

	.owl-feedback .owl-prev,
	.owl-feedback .owl-next {
		transform: scale(0.63) translateY(-50%);
	}

	.clients {
		padding: 25px 0 45px 0;
	}

	.clients__title {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.sertification {
		padding: 25px 0;
	}

	.sertification__title {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.sertification__list {
		margin-bottom: 25px;
	}

	.sertification__col-title {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 20px;
	}

	.sertification__col-desc {
		font-size: 10px;
		line-height: 12px;
		text-transform: none;
	}

	.sertification__col:first-child {
		margin-right: 20px;
	}
	
	.qval__item-img {
		max-width: 33px;
	}

	.qval__item-left {
		flex: 0 0 33px;
		margin-right: 10px;
	}

	.qval__item-title {
		font-size: 14px;
		margin-bottom: 15px;
		line-height: 14px;
	}

	.qval__item-desc {
		font-size: 10px;
		line-height: 12px;
	}

	.qval__item {
		margin-bottom: 20px;
	}

	.qval-form-title {
		font-size: 16px;
	}

	.qval-form {
		width: 290px;
	}

	.qval-form-wrap {
		width: 290px;
	}

	.qval-form__desc {
		font-size: 8px;
		line-height: 9px;
	}

	.qval-form__input-wrap {
		max-width: 215px;
	}

	.qval-form__input-wrap.avatar:before {
		transform: translateY(-50%) scale(0.6);
		left: 10px;
	}

	.qval-form__input-wrap.tel:before {
		transform: translateY(-50%) scale(0.6);
		left: 14px;
	}

	.qval-form__sbm {
		@include states {
			height: 48px;
			line-height: 48px;
			font-size: 10px;
		}
	}

	.qval-form__input {
		max-width: 215px;
		height: 24px;
		font-size: 8px;
		padding-left: 30px;
	}

	.footer-left {
		font-size: 8px;
	}

	.footer .container {
		padding: 15px 15px 12px 15px;
	}

	.footer-soc-item {
		margin-right: 0;
	}

	.stepprice-title__text {
		border-top: 2px solid #ffcc33;
		border-bottom: 2px solid #ffcc33;
		display: block;
		width: 100%;
		text-align: center;
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;

		span {
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	.stepprice-title {
		border-top: none;
		border-bottom: none;
	}

	.stepprice-title:before, .stepprice-title:after {
		display: none;
	}

	.stepprice-title__text:before, .stepprice-title__text:after {
		position: absolute;
		display: block;
		content: "";
		top: 4px;
		width: 26px;
		height: 26px;
		border: 2px solid #ffcc33;
		border-top: none;
		border-right: none;
	}

	.stepprice-title__text:before {
		right: -13px;
		transform: rotate(-135deg);
	}

	.stepprice-title__text:after {
		left: -13px;
		transform: rotate(45deg);
	}

	.stepprice-title {
		top: -19px;
		height: 38px;
		width: 100%;
		padding: 0 30px;
		font-size: 14px;
		text-transform: none;
	}

	.modal-request__container {
		padding: 15px;
	}

	.modal-request__title {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 10px;
	}

	.modal-request__title2 {
		margin-bottom: 15px;
		font-size: 12px;
		line-height: 14px;
	}

	.modal-request__title3 {
		margin-bottom: 15px;
		font-size: 12px;
		line-height: 14px;
	}

	.prices-table tbody td {
		padding: 10px 5px 10px 5px;
		font-size: 12px;
	}

	.prices-table thead th {
		padding: 0 5px 5px 5px;
		min-width: 80px;
	}

	.prices-table {
		margin-bottom: 0;
	}

	.prices-block {
		margin-bottom: 50px;
	}

	.prices {
		padding: 25px 0 45px 0;
	}

	.prices-title {
		font-size: 14px;
		margin-bottom: 20px;
	}

	.prices-table-title {
		margin-bottom: 5px;
		font-size: 14px;
		display: block;
		max-width: 100%;
	}

	.prices-table-desc {
		font-size: 12px;
		display: block;
	}

	.wsloy__bad-item {
		font-size: 11px;
		margin-bottom: 10px;
	}

	.wsloy__good-item {
		font-size: 11px;
		margin-bottom: 10px;
	}

	.prices-table thead {
		font-size: 13px;
	}
	
	.prices__download-btn {
		@include states {
			max-width: 220px;
			height: 40px;
			line-height: 40px;
			font-size: 14px;
			margin: 0 auto;
		}
	}
}