// $map : sprite-map('icons/*.png', $spacing: 70px);

@mixin get-sprite($map, $icon) {
	$sprite-image: sprite-file($map, $icon);
	$sprite-url: sprite-url($map);
	$sprite-position: sprite-position($map, $icon);

	background: $sprite-url $sprite-position no-repeat;

	$sprite-height: image-height($sprite-image);
	$sprite-width: image-width($sprite-image);

	width: $sprite-width;
	height: $sprite-height;
} 

@mixin font($font) {
	@if $font == bold {
		font-family: 'SF-UI-Display-Bold';
	} @elseif $font == heavy {
		font-family: 'SFUIDisplay-Heavy';
	} @elseif $font == light {
		font-family: 'SFUIDisplay-Light';
	} @elseif $font == med {
		font-family: 'SFUIDisplay-Medium';
	} @elseif $font == reg {
		font-family: 'SFUIDisplay-Regular';
	} @elseif $font == bodoni {
		font-family: 'bodoni-svtytwo-itc-tt-book';
	}
}

@mixin linksHover() {
	transition: all .3s ease-in-out;
	opacity: 1;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 1;
	}
}

@mixin states {
	@content;

	&:hover, &:active, &:focus {
		@content;
	}
}