* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: table;
	font-family: 'SFUIDisplay-Regular';
	line-height: normal;
}

.img-container {
	max-width: 100%;
}

.img-responsive {
	max-width: inherit;
	width: 100%;
}

.main {
	height: auto;
	overflow: hidden;
}

.footer {
	height: 1px;
	display: table-row;
}

.col-centered{
	float: none;
	margin: 0 auto;
	text-align: center;
}

p {
	margin: 0;
}



.fixed-nav-panel {
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	margin: 0 !important;
	padding: 10px 0 !important;

	.header-nav__container {
		margin: 0 auto;
	}
}

.header-nav__container {
	margin: 0 -15px;
}